body
{
    margin: 0px;
}

.sbtn
{
    position: relative;
    width: 100%;
    height: 200px;
    border-top-width: 0px;
    border-bottom: 2px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-style: solid;
    border-color: gold;
    box-sizing: border-box;
    cursor: pointer;
}

.btn-img
{
    z-index: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay
{
    z-index: 1;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}

.btn-txt
{
    position: absolute;
    font-size: 70px;
    margin-top: 0px;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    z-index: 2;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
}